<div class="p-grid" *ngIf="product">
    <div class="p-col-4">
      <p-card>
          <img [src]="product.image" [alt]="product.title" width="100%" height="85%" class="img-fluid rounded" />

      </p-card>
      
      </div>
    <div class="p-col-8" style="padding-top:7%">
      <div class="p-col-8">       
         <h3>{{product.title}}</h3>
      </div>
      <div class="p-col-8">
        <div class="display">{{product.price | currency:'USD':'symbol'}} </div>                    
<div class="display rating-pos">        
  <p-rating [(ngModel)]="product.rating.rate" [cancel]="false">
</p-rating>
</div>  
<div class="display review-pos"> <b>{{product.rating.count}}</b> reviews</div>     
      </div>
      <div class="p-col-8"><b>Description: </b>{{product.description}}</div>
      <div class="p-col-8"><b>Category: </b> {{product.category}}</div>
      <div class="p-col-8">
        <label for="quantity">Quantity: </label>
        <p-inputNumber [(ngModel)]="quantity" mode="decimal" [showButtons]="true" buttonLayout="horizontal"
        spinnerMode="horizontal" decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
        incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" styleClass="input-display" [size]=2></p-inputNumber>
      </div>
      <button pButton type="submit" label="Add To Cart" (click)="addToCart(product)" ></button>

    </div>
  
  </div>
  <p-toast position="bottom-center"></p-toast>
