<h4>Shopping Cart</h4>
<div class="p-grid p-flex-column" *ngIf="cartProducts.length>0">
    <div class="p-col" *ngFor="let product of cartProducts">
      <p-panel>
        <div class="display">
          <a [routerLink]="['/product', product.id]">
            <!-- <div > -->
              <img
                [src]="product.image"
                class="img-fluid"
                alt=""
                width="100px"
                height="100px"
              />
           
          </a>
        </div>
          <div class="display center">
            <h3>{{product.title}}</h3>
            <h3>{{product.price |currency:'CAD':'symbol-narrow'}}</h3>
          </div>
          <div class="display quantity-display">
              <p-inputNumber [(ngModel)]="product.quantity" [size]=2></p-inputNumber>
            </div>
          <div class="display padding">
              <i class="pi pi-times" [ngStyle]="{color:'red'}"></i>
            </div>

</p-panel>
    </div>
    
    <div class="p-col">       
       <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
    </div>
  </div>
  <div class="p-grid" *ngIf="cartProducts.length===0">
    <div class="p-col">
      <h4 style="text-align:center">***No products***</h4>
    </div>
  </div>